body{
    margin:0;
}
.navbar {
    list-style-type: none;
    margin-top:-10px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size: 150%;
    width:100%;
    height:75px;
    position:fixed;
    z-index:12;
}

.navbar li {
    float:left;
    display:inline-block;
    margin-right:50px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    height:100px;
  line-height: 80px;
  white-space: nowrap;
  background-color:#333;
  list-style-type:none;

}
.my-content section {
  background-color: #f5f5f5;
  height: 600px;
}
script,
li a:hover {
    background-color: #111;
}

.cat{
  /*  float:left;*/
    height:30%;
    width:30%;
    position:relative;
    left:8%;
    margin:0 0 10px 10px;
    top:2%;
}
.stuff{
    position:relative;
width: 85%;
left:140px;
}

.car{
    width:100%;
    height:300px;
}
.ph{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.the{
  position: relative;
    top: 100px;
    left: 80px;
    width: 60%;
}
.ph li {
    float: left;
    margin-right:50px;
    position: relative;
    top: 80px;
}
.ph{
   width:300px; 
   height:300px;
}
.service{
    height:300px;
    width:400px;
    display:block;
    margin:auto;
}
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF FOUR  */
.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 74.6%;
}
.span_2_of_4 {
	width: 49.2%;
}
.span_1_of_4 {
	width: 23.8%;
}


.tree{
    list-style-type:none;
    margin:0;
    padding:25px;
    text-align:center;
    color:white;
    background-color:#1D093A;
    font-size:30px;
    
}
#section1 {
    height: 100vh;
}
#section2 {
    height: 220vh;
    width: 100%;
}
#section3 {
    height: 200vh;
}
#section4 {
    height: 250vh;
}
#section5 {
    height: 100vh;
}
.what{
    height:300px;
    width:200px;
    float:left;
    position:relative;
    bottom: 270px;
    right: -500px;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.new{
    height:301px;
    width:300px;
    float:left;
    position:relative;
    bottom: 340px;
    right: -900px;
}
.something{
    width:500px;
   position:relative;
   left:20px;
   top:90px;
}
.paper{
    position:relative;
    left:1000px;
    bottom:50px;
    height:200px;
    width:200px;
}

  


.col-6-8{
    width:65%;
}
.col-2-8{
    width:25%;
    float:right;
    position:relative;
    bottom:500px;
}
.color{
    position:relative;
    right:100px;
    top:150px;
}
.great{
    position:relative;
    left:30px;
    top:100px;
}

.slideshow {
    width:100%;
    height:500px;
    text-align: center;
    padding-top:65px;
}

.foot{
    margin-left:10px;
}
.myslides {
    width:100%;
    height:400px;
    margin-top:0px;
}
li a img {
    margin-top:-35px;
}

h2 {
    text-align:center;
}
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }
.span_1_of_4 {
    width: 23.1%;
}
.section {
    clear: both;
    padding: 20px;
    margin: 11px;
}
.nav-toggle{
    display:none;
}

@media (max-width: 915px) {
   .navbar li{
       display:block;
       float:none;
        }
  .navbar{
      overflow:visible;
  }
    
   .nav-toggle {
    display: block;
  }
    
 .mobile-nav-hidden{
        display:none;
    }
}
/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 2% 2.4%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }

   
}
/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */


@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}
.after:after{
    
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.mobile-nav-hidden{
     display:none;   
}
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
}

.row{
    margin-bottom: 300px;
    min-height:270px;
}

.csty{
 color:white;   
}

.lago{
    background-color:black;
    margin-left:20px;
    margin-top:3px;
}
p{
    color:;
}
html{
    background-color:;
}

ul, menu, dir {
    display: block;
    list-style-type:none;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.wow{
    font-weight:bold;
    text-align:center;
    color: black;
    font-size:30px;
   
}
.ugly{
    font-size:30px;
    text-align:center;
}
.wonder{
    width:100px;
    text-align:center;
    height:100px;
    position:relative;
    left:160px;
    display:inline;
    top:30px;
    font-size:30px;
}
.wonderful{
    list-style-type:none;
    margin:0;
    height:100px;
    text-align:center;
    color:white;
    background-color:#1D093A;
    font-size:30px;
}